.form-icon-container {
    display: flex;
}

.form-otp-new-recipient {
    color: #767676;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 0 25px;
}

.bank-name {
    &:before {
        content: url('../../assets/icons/bank-name.svg');
        height: 20px;
        margin: 10px 15px 10px 0;
        width: 20px;
    }        
}

.username {
    &:before {
        content: url('../../assets/icons/username.svg');
        height: 20px;
        margin: 10px 15px 10px 0;
        width: 20px;
    }
}

.password {
    &:before {
        content: url('../../assets/icons/password.svg');
        height: 20px;
        margin: 10px 15px 10px 0;
        width: 20px;
    }
}

.otp-reference {
    &:before {
        content: url('../../assets/icons/otp-reference.svg');
        height: 20px;
        margin: 10px 15px 10px 0;
        width: 20px;
    }
}