.note-text {
    font-size: 10px;        
    font-weight: bold;
    margin: 15px 0;
    text-align: center;

    > p {
        margin-bottom: 3px;
    }
}

.scratch-result-container {
    background: #FFF;
    margin: 20px 0 0;
    padding: 20px 0;
}