// Global Styles

body {
  background-color: #ffffff;
}

.steps-container {
  max-width: 500px;
  margin: 1rem auto;
}

.error-message {
  margin-bottom: 0.5rem;
}

.deposit-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem 2rem 0rem 2rem;
}

.locale-chooser {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: right;
}

.infos {
  .info-item {
    span {
      padding: 0 0.5rem;
    }
  }
}

.more-info-form-item {
  margin: 0 10px;
}

.steps-bar-container {
  padding: 10px 0;
  text-align: center;
}

.progress-bar-container {
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  > p {
    font-weight: bold;
    margin: 15px 0 0;
    text-align: center;
  }
}

// antd elements override
.ant-select-selection {
  border-bottom: 1px solid #E3E3E3 !important;
  border-left: none !important;
  border-radius: 0 !important;
  border-right: none !important;
  border-top: none !important;

  &:focus {
    box-shadow: none !important;
  }
}

.ant-select-selection__rendered {
  margin: 0 !important;
}

.ant-input-lg {
  padding-left: 0 !important;
}

.ant-input {
  border-bottom: 1px solid #E3E3E3 !important;
  border-left: none !important;
  border-radius: 0 !important;
  border-right: none !important;
  border-top: none !important;

  &:focus {
    box-shadow: none !important;
  }
}

.ant-form-vertical {
  .ant-form-item {
    margin-bottom: 15px !important;
    width: 100% !important;
  }

  .ant-form-item-label {
    padding: 0 !important;
  }
}

.ant-collapse-borderless {
  background-color: transparent !important;
}

.ant-collapse {
  > .ant-collapse-item {
    > .ant-collapse-header {
      padding: 5px 16px 5px 40px !important;
    }
  }
}

.ant-modal-content {
  border-radius: 15px !important;
  margin: 0 12px;
}

// mobile device
@media only screen and(max-width: 47.999em) {
  .locale-chooser {
    display: none;
  }
  .steps-container {
    display: none;
  }

  .deposit-container {
    .ant-card-bordered {
      border-top: 1px solid #e8e8e8;
      border-left: none;
      border-right: none;
    }
  }

  .error-message {
    margin: 0.5rem;
  }
}

@media only screen and(max-width: 36em) {
  .steps-container {
    margin: 0rem 1rem;
  }

  .deposit-container {
    margin: 0 15px;
    padding: 0px;
  }

  .error-message {
    margin: 0.5rem;
  }
}
