.main {
  margin: 0 auto;
  max-width: 960px;
}

.logo-container {
  margin: 20px auto;
  text-align: center;
  // margin-bottom: 20px;

  .poweredby {
    width: 80px;
  }

  > h1 {
    margin: 0;
    color: #8dc63f;
    font-weight: bold;

    span {
      color: #3b3b3d;
    }
  }
}

.fallback-container {
  margin: 0 auto;
  min-height: 500px;
  max-width: 500px;
  padding: 1rem 2rem 0rem 2rem;
  text-align: center;
}
