.wrapper {
  background-image: linear-gradient(190deg, #FF2600 44%, #FFFFFF calc(44% + 2px));
  display: flex;
  justify-content: center;
  padding-top: 75px;
  flex-wrap: wrap;

  .container {
    margin: 0 20px;
    max-width: 500px;
    width: 100%;

    .form-content {
      background: #FFFFFF;
      border-radius: 15px;
      box-shadow: 0px 5px 10px 0px rgba(112,112,112,0.3);

      > header {
        padding: 10px 20px;
      }

      .header-bottom-border {
        border-bottom: 0.5px solid #E3E3E3;
      }

      > main {
        padding: 20px;

        .form-content-submit-container {
          margin-top: 5px;
          padding: 10px 0 5px;
          text-align: center;

          > button {
            background-color: #FF2600;
            border-radius: 11px;
            border: 0;
            height: 50px;
            color: #ffffff;
            width: 100%;
            font-weight: bold;

            &:disabled {
              opacity: 0.5;
            }
        
            > svg {
                vertical-align: middle;
                margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .footer-submit-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    box-shadow: 0px -5px 10px -3px rgba(112,112,112,0.3);
  }
}

.deposit-submit-buttons {
  padding: 15px 0;
  text-align: center;
  
  > button {
    background-color: #ffffff !important;
    border-radius: 8px;
    border: 2px solid #FF2600;
    border-color: #FF2600 !important;
    color: #FF2600 !important;
    margin: 0 15px !important;
    max-width: 150px;
    width: 100%;
    font-weight: bold;
    height: 43px;

    &:disabled {
      opacity: 0.5;
    }
  
    > svg {
        vertical-align: middle;
        margin-right: 5px;
    }
  }
}

.fallback-container {
  margin: 0 auto;
  min-height: 500px;
  max-width: 500px;
  padding: 1rem 2rem 0rem 2rem;
  text-align: center;
}

@media only screen and(max-width: 23.438em) {
  .deposit-submit-buttons {
    > button {
      margin: 0 15px 15px;
    }
  }
}
