.main {
  margin: 0 auto;
  max-width: 960px;
}

.logo-container {
  margin: 20px 0;
  text-align: center;

  > img {
    width: 140px;
    // max-width: 250px;
    height: 55px;
  }

  > h1 {
    margin: 0;
    color: #8dc63f;
    font-weight: bold;

    span {
      color: #3b3b3d;
    }
  }
}
